$blue-color:  #3498db;
$red-color:   #c61618;
$theme-color: $red-color;
$red: $red-color;

@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
$font-family-sans-serif:    'Lato', sans-serif!default;

@mixin cGradient($g1c,$g2c,$g1,$g2){
  background: -webkit-radial-gradient(circle, $g1c $g1, $g2c $g2); /* Chrome 10+, Saf5.1+ */
  background:    -moz-radial-gradient(circle, $g1c $g1, $g2c $g2); /* FF3.6+ */
  background:     -ms-radial-gradient(circle, $g1c $g1, $g2c $g2); /* IE10 */
  background:      -o-radial-gradient(circle, $g1c $g1, $g2c $g2); /* Opera 11.10+ */
  background:         radial-gradient(circle, $g1c $g1, $g2c $g2); /* W3C */
}

/* TEXT SHADOW */
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}
/* SHADOW */ 
@mixin shadow($width: 4px) {
  border-width: 0 1px $width 1px;
}

@mixin transition($t: 0.5s){
  -webkit-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

#headwrap {
  @include cGradient($theme-color,darken($theme-color, 20%), 10%, 90%);
  min-height: 20em;
}

a > .well {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #333;

  &:hover {
    border: 1px solid $theme-color;
    color: #fff;
    background-color: lighten($theme-color, 10%);
  }
}

a:hover, 
a:focus {
  text-decoration: none;
}

/* NAVIGATION */
.navbar-default {
  background-color: $theme-color;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-fixed-top {
  // top: 0;
  border-width: 0;
  -webkit-box-shadow: 0 10px 20px 0 rgba(51,51,51,0.5);
  box-shadow:         0 10px 20px 0 rgba(51,51,51,0.5);
  text-transform: uppercase;
}

.navbar-default .navbar-text {
  color: #fff;
  text-transform: uppercase;
  a {
    color: #fff;
  }
}

/* LOGOS */
.c-logo-sm {
  background-image: url(/images/logo-c.svg);
  height: 1.2em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 2em;
  margin-top: 0px;
  float: left;
}

.c-logo {
  background-image: url(/images/c-logo.svg);
  height: 1.2em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 242px;
  margin-top: 0px;
  float: left;
}

.c-tagline {
  background-image: url(/images/tagline.svg);
  height: 1.2em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 155px;
  margin-top: 0px;
  float: left;
  margin-left: 0;

}

/* HELPERS */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}