/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer {
  .text-muted {
    text-align: center;
  }
  .c-logo{
    background-image: url(/images/c-logo.svg);
    height: 2.2em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 242px;
    margin-top: 0px;
    float: none;
  }
}

.text-muted {
  a {
    @include transition();
    color: #333;
    text-decoration: none;
    
    &:hover {
      @include transition();
      text-decoration: underline;
    }
  }
}
.page-header h1 {
  text-align: center;
}

#hypothesis {
  margin-top: 1em;
  margin-bottom: 1em;
}
#results {
  display: none;
}

.btn {
  font-weight: 600;
}

.top-c {
  max-width: 5em;
}

.glyphicon-heart {
  @include transition();
  
  &:hover{
    color: $red;
  }
}

a,
a:hover {
  @include transition();
  text-decoration: underline;
}

.ctap {
  text-align: center;
  margin-bottom: 3em;
}

.line input {
  width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #999;
  text-align: center;
  min-width: 200px;
  display: inline-block;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1px;
  outline: none;
  
  &[name="kpi"] {
      width: 50%;
  }
  
}

.btn-cta {
  text-transform: uppercase;
}